header {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border-bottom: 2px solid gray;
    background: blue;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-top: 30px;
}

header nav ul li a {
    text-decoration: none;
    color: inherit;
}